p {
    font-family: "Comic Sans MS", cursive, sans-serif;
} 

h4 {
    font-family: "Comic Sans MS", cursive, sans-serif;
} 

h5 {
    font-family: "Comic Sans MS", cursive, sans-serif;
} 

h6 {
    font-family: "Comic Sans MS", cursive, sans-serif;
} 

